<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Treinador de Senha Pedagógico - Moisés</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="vue.js"></script>
    <script src="js.js"></script>
</head>
<body>

    <div id="app">
        <h3>Treinador da Senha para Novos Educadores</h3>
        <p>
            <transition name="fade">
                <span id="idMensagem">{{mensagem}}</span>
            </transition><br>
        </p>
        <div id="divSenhas">
            <input v-model="codigoSenha" type="number" v-on:change="geraTempo" placeholder="código da senha" size="17"><br>
            <span>{{minutos}}{{segundos}}</span><br>
            <input v-model="senhaInput" type="number" v-on:keyup.enter="verifica" placeholder="senha" size="17"><label id="resultado"></label>
            <!--<div id="teclado">
                <p>8</p>
                <p>{{acertos}} acertos</p>
                <p>{{acertos}} acertos</p>
            </div>-->
        </div>
        
        <p>{{pontos}} pontos</p>
        <div id="divPontos">
            <p>{{erros}} erros</p>
            <p>{{acertos}} acertos</p>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                mensagem: 'Insira o código da senha e aperte TAB',
                minutos: '',
                segundos: '',
                senha: '',
                senhaInput: '',
                codigoSenha: '',
                pontos: 0,
                acertos: 0,
                erros: 0
            },
            methods: {

                geraTempo: function (message, event) {
                    retorno = geraTempoAleatorio();

                    this.minutos = retorno[0]+":";
                    this.segundos = retorno[1];
                    this.senha = retorno[2];
                    this.mensagem = '';
                    this.senhaInput = '';

                    //alert(retorno[2]); // verifica senha

                },
                verifica: function(message, event){
                    if (this.senhaInput == this.senha){
                        this.pontos++;
                        this.acertos++;
                        this.geraTempo();
                    }else{
                        this.pontos--;
                        this.erros++;
                        this.geraTempo();
                    }
                }
            }
        });

        function pad(num, size) {
            var s = num+"";
            while (s.length < size) s = "0" + s;
            return s;
        }

        geraTempoAleatorio = function(){
            var minutoGerado = Math.trunc(Math.random()*24);
            var segundoGerado = Math.trunc(Math.random()*59);
            var minuto = pad(minutoGerado,2);
            var segundo = pad(segundoGerado,2);
            var digitoMinuto = minuto[1];
            var digitoSegundo = segundo[0];
            var senha = new Number((new Number(digitoMinuto)*5).toString()) + 
                        new Number((new Number(digitoSegundo)+1).toString());
            senha = senha.toString() + app.codigoSenha.toString();
            var momento = [minuto, segundo, senha];
            return momento;
        }


    </script>
</body>
</html>